---
import "../styles/global.css";
const { href, title, title2, src, alt } = Astro.props;
---

<div class="grid1">
  <div class="h3_hojre">
    <h3>{title}</h3>
  </div>
  <div class="h2_hojre"><h2>{title2}</h2></div>
</div>
<div class="grid2">
  <a class="knap1 secondary_small" href={href}>Se artist</a>
  <div class="billedehojre">
    <img src={src} alt={alt} />
  </div>
</div>

<style>
  .grid1 {
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
  }
  .h3_hojre {
    place-self: end end;
    margin-bottom: 30px;
  }

  h3,
  h2 {
    color: var(--color-lime);
  }

  .h2_hojre {
    transform-origin: top right;
    right: 0;
    top: 0;
    transform: rotate(90deg) translateX(100%);
  }

  .billedehojre {
    grid-area: 1/1;
    place-self: end end;
  }
  .billedehojre img {
    border-radius: var(--radius-card-1-mob);
    min-height: 340px;
    max-width: 100%;
  }

  .grid2 {
    display: grid;
    margin-left: 30px;
    margin-bottom: 140px;
  }
  .knap1 {
    grid-area: 1/1;
    z-index: 1;
    place-self: end end;
    margin-bottom: 30px;
    margin-right: 140px;
  }

  @media (min-width: 800px) {
    .billedehojre img {
      border-radius: var(--radius-card-1-desk);
      max-height: 530px;
    }
    .knap1 {
      grid-area: 1/1;
      z-index: 1;
      place-self: end end;
      margin-bottom: 50px;
      margin-right: 180px;
    }
  }
</style>
